@tailwind base;

@layer base {
  html {
    background-repeat: no-repeat;
    @apply gradient-mobile;
    @apply md:gradient-desktop;
  }

  /* Disable arrows on number inputs */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
}

@tailwind components;
@tailwind utilities;
